/* Abbie's Modeling Profile styling :)  */

body {
    background-color: #53354A;
    font-family: "Grenze Gotisch", Helvetica;
    font-family: "Grenze Gotisch", Helvetica;
    text-align: center;
    vertical-align: middle;  
}

.skip {
    position: absolute;
    left: -1000px;
    top: auto;
    overflow: hidden;
}
  
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A64942;
    font-size: 28pt;
    font-family: "Grenze Gotisch", Helvetica;
    display: flex;
    flex-direction: column;
}

ul li {
    display: inline-block;
}

.active {
    background-color: #FF7844;
    text-decoration: underline;
    text-decoration-color: #F7F5EB;
  }

li a {
    display: block;
    color: #F7F5EB;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }

li a:hover {
    background-color: #53354A;
    text-decoration: underline;
  }

h1 {
    font-family: "UnifrakturMaguntia", "Grenze Gotisch", Helvetica;
    font-size: 58pt;
    color: #FF7844;
    margin: 25px 15px;
}

h2 {
  font-family: "Grenze Gotisch", Helvetica;
  color: #F7F5EB;
  font-size: 38pt;
}

h3 {
  color: #F7F5EB;
  font-size: 24pt;
  margin: 15px;
}

p {
  color: #F7F5EB;
  font-size: 24pt;
}


img {
    width: 450px;
}


.thumbnails {
    position: relative;
    opacity: 1;
    visibility: visible;
}

footer {
  margin: 30px;
  background-color: #1B1F3A;
  padding: 20px;
}

footer p {
  margin: 10px;
  font-size: 14pt;
}

footer p a {
  background-color: #A64942;
  padding: 10px;
  border-radius: 20px;
  margin: 25px;
  color: #F7F5EB;
  text-decoration: none;
}

footer p a:hover {
  background-color: #53354A;
  text-decoration: underline
}


/* Mobile first Index page */


.container {
    padding: 20px 30px;
    height: 2200px;
    max-width: 900px;
}

.image-stack {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.image-stack #pic_1 {
    grid-column: 1 / span 7;
    grid-row: 1;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_2 {
    grid-column: 6 / -1;
    grid-row: 1;
}

.image-stack #pic_3 {
    grid-column: 1 / span 7;
    grid-row: 2;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_4 {
    grid-column: 6 / -1;
    grid-row: 2;
}

.image-stack #pic_5 {
    grid-column: 1 / span 7;
    grid-row: 3;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_6 {
    grid-column: 3 / -1;
    grid-row: 3;
}

.image-stack #pic_8 {
    grid-column: 1 / span 7;
    grid-row: 4;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_7 {
    grid-column: 6 / -1;
    grid-row: 4;
}

.image-stack #pic_9 {
    grid-column: 1 / span 7;
    grid-row: 5;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_10 {
    grid-column: 6 / -1;
    grid-row: 5;
}

.image-stack #pic_11 {
    grid-column: 1 / span 7;
    grid-row: 6;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_12 {
    grid-column: 6 / -1;
    grid-row: 6;
}

.image-stack #pic_13 {
    grid-column: 1 / span 7;
    grid-row: 7;
    padding-top: 20%;
    z-index: 1;
}

.image-stack #pic_14 {
    grid-column: 6 / -1;
    grid-row: 7;
}


/* Mobile First About page */

#about_body {
  background-image: url("../images/orange_wallpaper.jpg")
}

#about_div {
  margin: 20px;
  padding: 10px;
  background-color: #1B1F3A;
}

#about_div h2 {
  font-size: 26pt;
}

#about_div p {
  font-size: 18pt;
}

.row {
  display: flex;
  flex-direction: column;
}

.column {
  align-self: center
}

#Kristen {
  color: #FF7844;
}




/* Media Query Tablet Viewport */
@media screen and (min-width: 800px) {
    /* General stuff */
    nav ul {
      display: block;
    }

    /* Index Page */
    .image-stack #pic_6 {
      grid-column: 6 / -1;
      grid-row: 3;
  }
}



/* Media Query Desktop Viewport */
@media screen and (min-width: 1300px) {
  /* General */

  /* Index Page */
  #index_div {
    background-image: url("../images/orange_wallpaper.jpg");
    padding: 20px;
  }

  #index_div h3 {
    color: #1B1F3A;
    font-weight: bold;
    background-color: #FF7844;
  }

  .container {
    height: 1050px;
  }
  .container:before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-size: 100% 100%;
    background-image: url('https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/53.jpg');
    width: 150%;
    height: 150%;
    top:-20px;
    left:-20px;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
    background-repeat:no-repeat;
  }
  
  .image-stack {
    margin-top: 20%;
    height: 975px;
    width: 1500px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: white;
    -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
  }
  
  body{
    font-family: "Grenze Gotisch", Helvetica;
    text-align:center;
    vertical-align:middle;  
  }
  
  .image-stack #pic_1 {
    position: absolute;
    height:550px;
    width:400px;
    left: 0px;
    padding: 0%;
  }

  .image-stack #pic_2 {
    position:absolute;
    height:250px;
    width:300px;
    left:1200px;
    top:0px;
  }

  .image-stack #pic_3  {
    position:absolute;
    height:350px;
    width:250px;
    left:300px;
    top:600px;
    padding: 0%;
    z-index: 2;
  }
  
  .image-stack #pic_4 {
    position:absolute;
    height:675px;
    width:500px;
    left:275px;
    top:0px;
    z-index: 1;
  }
  
  .image-stack #pic_5 { 
    position:absolute;
    height:350px;
    width:250px;
    left:500px;
    top:600px;
    padding: 0%;
  }
  
  .image-stack #pic_6 { 
    position:absolute;
    height:300px;
    width:500px;
    left:725px;
    top:0px;
  }

  .image-stack #pic_7 { 
    position:absolute;
    height:525px;
    width:350px;
    left:1150px;
    top:450px;
  }

  .image-stack #pic_8 { 
    position:absolute;
    height:650px;
    width:450px;
    left:750px;
    top:300px;
    padding: 0%;
  }

  .image-stack #pic_9 {
    position:absolute;
    height:500px;
    width:300px;
    left:0px;
    top:525px;
    padding: 0%;;
  }

  .image-stack #pic_10 {
    display: none;
  }

  .image-stack #pic_11 {
    display: none;
  }

  .image-stack #pic_12 {
    display: none;
  }

  .image-stack #pic_13 {
    display: none;
  }

  .image-stack #pic_14 {
    display: none;
  }

  .thumbnail {
    -webkit-animation:scaledown 1s linear;
    -moz-animation:scaledown 1s linear;
    animation:scaledown 1s linear;
    transform-origin:50% 50%;
    animation-fill-mode: forwards;
  }
  
  .thumbnail:hover{
     z-index:100;
    -webkit-animation:scale 1s linear;
    -moz-animation:scale 1s linear;
    animation:scale 1s linear;
    transform-origin:50% 50%;
    animation-fill-mode: forwards;
  }

  @keyframes scale{
    0%{
      transform:scale(1.0);
    }
    100%{
      transform:scale(1.1);
      -webkit-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
      -moz-box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
      box-shadow: 10px 10px 60px 10px rgba(0,0,0,0.1);
    }
  }
  
  @keyframes scaledown{
    0%{
      transform:scale(1.1);
    }
     100%{
      transform:scale(1.0);
    }
  }

  /* About Page */
  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }

  .row > .column {
    padding: 0 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 400px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}